{% extends 'base.html' %}

{% block content %}

<div class="row">
	<div class="col-md-7">
		<h1 class="mb-3">Welcome to the My Gym</h1>
		<p>Simple Gym Management System built Using Django, HTML, CSS, Bootstrap, SQLite</p>
		<p>Manage Members, equipment, attendance and more.</p>
	</div>
	<div class="col-md-5">
		<div class="card shoadow-sm">
			<div class="card-header bg-primary text-white">Contact / Enquiry</div>
			<div class="card-body">
				<form method="post">
					{% csrf_token %}
					<div class="mb-2">
						<label for="name" class="form-label">Name</label>
						<input type="text" class="form-control" id="name" name="name" required>
					</div>
					<div class="mb-2">
						<label for="email" class="form-label">Email</label>
						<input type="email" class="form-control" id="email" name="email" required>
					</div>
					<div class="mb-2">
						<label for="mobile" class="form-label">Mobile</label>
						<input type="text" class="form-control" id="mobile" name="mobile" required maxlength="10">
					</div>
					<div class="mb-2">
						<label for="message" class="form-label">Message</label>
						<textarea class="form-control" rows="3" name="message" id="message" required></textarea>
					</div>
					<button type="submit" class="btn btn-primary w-100">Submit Enquiry</button>
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock %}
    