{% extends 'base.html' %}

{% block content %}
  <h2 class="mb-3">Change Password</h2>

  <form method="post" class="w-50">
    {% csrf_token %}
    <div class="mb-3">
      <label for="current_password" class="form-label">Current Password</label>
      <input type="password" class="form-control" id="current_password" name="current_password"  />
    </div>
    <div class="mb-3">
      <label for="current_password" class="form-label">New Password</label>
      <input type="password" class="form-control" id="current_password" name="new_password" />
    </div>
    <div class="mb-3">
      <label for="current_password" class="form-label">Confirm New Password</label>
      <input type="password" class="form-control" id="current_password" name="confirm_password" />
    </div>
    <button type="submit" class="btn btn-primary">Update Password</button>
    
  </form>

{% endblock %}